:host {
  height: 100%;
  width: 100%;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
}

.chart-container {
  background-color: rgba(0, 0, 0, .1);
  height: 50vh;
  padding: 30px;
  position: relative;
  width: 50vw;
}