<div class="home-container">
  <section class="cover-image-container">
    <img src="./../../../assets/White-Lotus-Home.jpg"
      alt="Picture of a couple enjoying the White Lotus Hotel at our infinity pool" />
  </section>

  <section class="greetings-container">
    <h2>Welcome to the White Lotus Hotel</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In justo sem, condimentum ac lacinia ut, gravida vel
      velit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin commodo sapien
      ut gravida blandit. Duis dui felis, placerat id dignissim in, rhoncus eu nunc. Proin pellentesque eleifend
      euismod.
      Fusce ut nisi consectetur, pellentesque ex sed, pulvinar lacus. Vestibulum finibus ipsum sed laoreet gravida.
      Vestibulum ut lacus commodo, dapibus metus eu, pharetra leo.</p>
  </section>
</div>