:host {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  align-items: center;
  align-self: center;
  background-color: #fafafa;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  form {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .form-field {
      width: 30vw;
    }
  }

  .button-section {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;
  }
}