<app-header></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <div class="lotus-divider">
      <div></div>
      <mat-icon>spa</mat-icon>
      <div></div>
    </div>
    <div class="sidenav-item" routerLink="/">Hotel Overview</div>
    <div class="divider"></div>
    <div class="sidenav-item" routerLink="/rooms">Accomodations</div>
    <div class="divider"></div>
    <div class="sidenav-item" routerLink="/clients">Clients</div>
    <div class="divider"></div>
    <div class="sidenav-item" routerLink="/reservations">Reservations</div>
    <div class="divider"></div>
    <div class="sidenav-item" routerLink="/reports">Hotel Status</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>