<app-inner-header title="Accomodations" [hasActionButton]="hasAddButton"
  (onButtonClick)="createRoom()"></app-inner-header>

<main>
  <section class="filter-container">
    <button mat-raised-button (click)="filterList('ALL')">View All ({{totalRooms}})</button>
    <button mat-raised-button (click)="filterList('Single Room')">Single Rooms ({{singleRoomsTotal}})</button>
    <button mat-raised-button (click)="filterList('Double Room')">Double Rooms ({{doubleRoomsTotal}})</button>
    <button mat-raised-button (click)="filterList('Deluxe Room')">Deluxe Rooms ({{deluxeRoomsTotal}})</button>
    <button mat-raised-button (click)="filterList('Suite')">Suites ({{suitesTotal}})</button>
    <button mat-raised-button (click)="filterList('Presidential Suite')">
      Presidential Suites ({{presidentialSuitesTotal}})
    </button>
  </section>

  <section class="card-list-container">
    <ng-container *ngIf="totalRooms; else emptyList">
      <mat-card *ngFor="let room of roomList" class="card-item">
        <mat-card-header>
          <mat-card-title>{{ room.roomType }}</mat-card-title>
          <mat-card-subtitle>€{{ room.price }} per night</mat-card-subtitle>
          <button mat-icon-button aria-label="Delete room button with a trash icon" (click)="delete(room.roomId)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>

        <div class="divider">
          <div></div>
          <mat-icon>spa</mat-icon>
          <div></div>
        </div>

        <mat-card-content>
          <ng-container [ngSwitch]="room.roomType">
            <ng-container *ngSwitchCase="'Single Room'" [ngTemplateOutlet]="singleRoomPicture"></ng-container>
            <ng-container *ngSwitchCase="'Double Room'" [ngTemplateOutlet]="doubleRoomPicture"></ng-container>
            <ng-container *ngSwitchCase="'Deluxe Room'" [ngTemplateOutlet]="deluxeRoomPicture"></ng-container>
            <ng-container *ngSwitchCase="'Suite'" [ngTemplateOutlet]="suitePicture"></ng-container>
            <ng-container *ngSwitchCase="'Presidential Suite'"
              [ngTemplateOutlet]="presidentialSuitePicture"></ng-container>
          </ng-container>
          <main>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas lectus at odio ullamcorper, non
              mollis
              enim mollis. Sed et imperdiet nisl, quis posuere nunc. Fusce euismod faucibus felis, nec gravida neque
              tincidunt quis.
            </p>
            <mat-card-actions>
              <button mat-button mat-stroked-button (click)="openDetailsDialog(room)">ROOM DETAILS</button>
            </mat-card-actions>
          </main>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </section>

  <app-custom-paginator *ngIf="currentTotalRooms" [pageIndex]="pageIndex" [currentTotalCount]="currentTotalRooms"
    [pageSize]="pageSize" (onChangePage)="changePage($event)"></app-custom-paginator>

  <ng-template #emptyList>
    <p>No room registered at the moment</p>
  </ng-template>
  <ng-template #singleRoomPicture>
    <img mat-card-image src="./../../../assets/room-pictures/Single Room-2.jpg"
      alt="Photo of the White Lotus single room">
  </ng-template>
  <ng-template #doubleRoomPicture>
    <img mat-card-image src="./../../../assets/room-pictures/Double Room-2.jpg"
      alt="Photo of the White Lotus double room">
  </ng-template>
  <ng-template #deluxeRoomPicture>
    <img mat-card-image src="./../../../assets/room-pictures/Deluxe Room-1-2.jpg"
      alt="Photo of the White Lotus deluxe room">
  </ng-template>
  <ng-template #suitePicture>
    <img mat-card-image src="./../../../assets/room-pictures/Suite-2-1.jpg"
      alt="Photo of the White Lotus suite with sea view">
  </ng-template>
  <ng-template #presidentialSuitePicture>
    <img mat-card-image src="./../../../assets/room-pictures/Presidential Suite-1.jpg"
      alt="Photo of the White Lotus presidential suite with sea view">
  </ng-template>
</main>